.home-crypto-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.home-crypto-link {
  text-decoration: none;
  color: inherit;
}

.home-crypto-header, .home-crypto-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.header-item {
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
}

.home-crypto-image img {
  width: 50px;
  height: auto;
  border-radius: 15px;
}
.list-item-link {
  text-decoration: none;
  color: #333;
}

.list-item-container {
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.home-crypto-name,
.home-crypto-symbol,
.home-crypto-priceChange,
.home-crypto-priceUsd {
  padding: 0.75rem;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.home-crypto-marketCap{
 padding: 1 rem;
 font-size: 0.875rem;
 font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adjust padding as needed */
}

.header-logo {
  flex: 1; /* Allow the logo to grow */
}

.header-title {
  text-decoration: none;
  color: white; /* Adjust color as needed */
  font-weight: bold;
  padding-left: 30px;
}

.header-buttons {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.spacer {
  width: 10px; /* Adjust the width of the space between buttons */
}
.crypto-header {
  display: flex;
  align-items: center;
  background-color: #f2f2f2; /* Adjust background color as needed */
  padding: 10px; /* Adjust padding as needed */
}

.crypto-label {
  flex: 1;
  font-weight: bold;
  text-align: left;
}
